* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hide {
  display: none !important;
}

.menu-img i {
  display: none;
}

/* 
<MenuBar>
        <div className="menu-img">
          <ProfileUpload imgUrl={imgUrl} setImgUrl={setImgUrl} />
        </div>
        <ButtonList>
          <button>프로필수정</button>
          <button>좋아요 한 관광지</button>
          <button>내가 쓴 리뷰</button>
          <button>내가 가본 곳</button>
        </ButtonList>
</MenuBar> */
