/* !나중에 관심사분리할게요! */
.image-upload-box {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.image-upload-box .input-blind {
  display: none;
}
.image-upload-box .img_preview {
  width: 250px;
  height: 250px;
  background-size: contain;
  display: block;
  background-color: #ddd;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}
.image-upload-box > p {
  margin-left: auto;
  margin-right: auto;
}
